/* Start normalizing our page */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-color: #10cab7;
    --tem-color: #325976;
    --paragraph-color: #777;
    --body-color: #f4f1f1;
    --main-duration: .3s;
}

/* End normalizing our page */

/* Start of global values */

.special-heading {
    margin: 0;
    font-size: 100px;
    color: #eee;
    text-align: center;
    font-weight: 800;
}

.special-heading+p {
    color: gray;
    text-align: center;
    font-size: 20px;
    margin: -35px 0 0 0;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        font-size: 12px;
        margin: -15px 0 0;
    }
}

/* End of global values */


/* Start of Container and its diffrent scales*/

.container {
    padding: 0 15px;
    margin: 0px auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End of Container */

/* Start of header styling */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container img {
    width: 60px;
}

.header .container .links {
    position: relative;
}

.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .container .links .icon span {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
}

.header .container .links .icon:hover span:nth-last-child(2) {
    width: 100%;
}

.header .container .links .icon span:nth-last-child(2) {
    width: 50%;
    transition-duration: var(--main-duration);
}

.header .container .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
    min-width: 200px;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: none;
    z-index: 1;
}

.header .container .links:hover ul {
    display: block;
}

.header .container .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    font-size: 18px;
    transition: .3;
}

.header .container .links ul li a:hover {
    padding-left: 25px;
    color: var(--tem-color);
}

/* End of header styling */

/* Start of landing space styling */

.landing-space {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}


.landing-space .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
}

.landing-space .intro-text h3 {
    margin: 0;
    font-size: 34px;
    text-transform: capitalize;
    color: var(--main-color);
}

.landing-space .intro-text p {
    line-height: 1.4;
}

/* End of landing space styling */

/* Start of features section styling */

.features {
    background-color: var(--body-color);
    padding: 60px 0;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}

.features .container .feat {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;
}

.features .container .feat i {
    font-size: 35px;
    color: var(--main-color);
    margin-top: 10px;
}

.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feat p {
    color: var(--paragraph-color);
    line-height: 1.4;
}

/* End of features section styling */

/* Start services section styling */
.services {
    padding: 60px 0;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 120px;
}

.services .services-content .col .srv {
    height: 220px;
    /* border: 1px solid var(--tem-color); */
    display: flex;
    margin-bottom: 30px;
    padding: 20px;
}

@media (max-width: 767px) {

    .services .services-content .col .srv {
        flex-direction: column;
        text-align: center;
        border: 1px solid #ccc;
    }

    .services .services-content {
        margin-top: 70px;
        grid-gap: 0;
    }

    .services .services-content .col .srv i {
        flex-basis: 0px;
        margin-bottom: 10px;
    }

    .protfolio .protofolio-content {
        margin-top: 70px;
    }
}

.services .services-content .col .srv i {
    flex-basis: 60px;
    font-size: 30px;
    color: var(--main-color);
}

.services .services-content .col .text {
    flex: 1;
}

.services .services-content .col .text h3 {
    margin: 7px 0 26px 0;
}

.services .services-content .col .text p {
    line-height: 1.4;
    color: var(--paragraph-color);
    font-weight: 300;
}

.services .services-content .col .img {
    position: relative;
    margin-left: 100px;
    margin-top: 30px;
}

.services .services-content .col .img img {
    width: 300px;
    height: 400px;
}

.services .services-content .col .img::before {
    content: "";
    width: 125px;
    height: calc(100% + 100px);
    background-color: var(--tem-color);
    position: absolute;
    right: -83px;
    top: -12%;
    z-index: -1;
}

@media (max-width: 1199px) {
    .services .services-content .col .img {
        display: none;
        margin-left: 0;
        margin-top: 0;
    }

}

/* End services section styling */

/* Start protfolio section styling */
.protfolio {
    background-color: var(--body-color);
    padding: 60px 0;
}

.protfolio .special-heading {
    color: white;
}



.protfolio .protofolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 80px;
}

.protfolio .protofolio-content .card {
    background-color: white;
    border-radius: 3px;
}

.protfolio .protofolio-content .card img {
    width: 100%;
    background-color: white;
}

.protfolio .protofolio-content .card .text {
    padding: 20px;
}

.protfolio .protofolio-content .card .text h3 {
    margin: 0;
}

.protfolio .protofolio-content .card .text p {
    color: var(--paragraph-color);
    line-height: 1.4;
}

/* End protfolio section styling */

/* Start about section styling */

.about {
    padding: 60px 0;
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-content .img {
    width: 400px;
    height: 400px;
    position: relative;
}

.about .about-content .img img {
    width: 100%;
    height: 100%;
}

.about .about-content .img::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--tem-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -45%);
    z-index: -1;
}


.about .about-content .info {
    width: 600px;
}

.about .about-content .info p:first-child {
    font-weight: bold;
    margin-bottom: 40px;
}

.about .about-content .info hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}

.about .about-content .info p:last-child {
    color: var(--paragraph-color);
    margin-top: 40px;
}

@media (max-width: 1199px) {

    .about .about-content {
        margin-top: 70px;
        flex-direction: column;
        text-align: center;
    }

    .about .about-content .img {
        width: 300px;
        height: 300px;
        position: relative;
        margin-bottom: 40px;
        left: 10px;
    }

    .about .about-content .info {
        width: 300px;
    }
}

/* End about section styling */

/* start contacts section styling */
.contact {
    background-color: var(--body-color);
    padding: 60px 0px;
}

.contact .container .special-heading {
    color: white;
}

.contact .contact-content {
    margin-top: 100px;
}

.contact .contact-content>p {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: var(--main-color);
}

.contact .contact-content>a {
    display: block;
    text-decoration: none;
    font-size: 36px;
    color: var(--tem-color);
    font-weight: bold;
    text-align: center;
    margin-top: -18px;
}

.contact .contact-content .social {
    width: 280px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .contact .contact-content {
        margin-top: 60px;
    }

    .contact .contact-content>p {
        font-size: 24px;
    }

    .contact .contact-content>a {
        font-size: 24px;
        margin-top: -14px;
    }

    .contact .contact-content .social {
        width: 260px;
    }
}

/* End contacts section styling */

/* Start of footer design */
.footer {
    height: 80px;
    background-color: var(--tem-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
    padding: 0px 5px;
}

/* End of footer design */